/*
 * Firefox toolbar
 */

toolbar[iconsize="small"] #toolbarButton-manoderecha_tool_markdown > .toolbarbutton-icon {
  width: 18px;
}

toolbar[iconsize="small"] #toolbarButton-manoderecha_tool_markdown[disabled="true"] > .toolbarbutton-icon {
  width: 18px;
}


/*
 * Thunderbird formatting toolbar.
 */

#formatToolbarButton-manoderecha_tool_markdown {
  list-style-image: url("resource://manoderecha_tool_markdown_common/images/icon12.png");
}

#formatToolbarButton-manoderecha_tool_markdown > .toolbarbutton-icon {
  width: 12px;
  height: 12px;
}

@media (min-resolution: 2dppx) {
  #formatToolbarButton-manoderecha_tool_markdown {
    list-style-image: url("resource://manoderecha_tool_markdown_common/images/icon12@2x.png");
  }
}
